/* START: global styles*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,600&display=swap');

*{
    font-family: 'Modulus';
    scroll-behavior: smooth;
    outline: none;
}
body{
    background-color: #e8f9fd;
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    color: #ccc;
}
button{
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
}

/* END: global styles*/


/* START> login section*/
.background{
    height: 100vh;
    width: 100%;
}
.background img{
    width: 100%;
    height: 140%;
    object-fit: cover;
}
.login{
    height: 100%;
    width: 100%;
    position: absolute;
}

.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
form.login-form li, .helptext{
    font-size: 15px;
    color: rgb(130,130,130);
    font-style: italic;
    padding-left: 20px;
}
.login_inner h1{
    font-size: 70px;
    text-align: center;
    color: #fff;
}
h2{
    font-size: 30px;
    text-align: center;
    background-color: rgba(30,30,30, 0.8);
    padding: 5px 0;
    width: auto;
    border-radius: 5px;
    color: #fff;
}
.regist-section form{
    width: 40vw;
    background-color: rgba(255,255,255,1);
    padding: 20px;
    padding-right: 50px;
    color: #000;
    border-radius: 10px;
}
.login-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.login-section label{
    display: block;
    margin-top: 20px;
}
.input-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 20px 10px;
    background-color:#eee;
    border: none;
    font-size: 20px;
    margin: 20px;
    border-radius: 5px;
}
.submit_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-radius: 0 5px 5px 0;
}
input[type=submit]{
    width: auto;
    height: 40px;
    margin-left: 15px;
    border: none;
    background-color: #d2001a;
    border-radius: 5px;
    color: #fff;
    padding: 0px 25px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 10px;
    
}
ul.messages{
    display: block;
}
ul.messages li{
    margin: 5px 0;
}
input[type=submit]:hover{cursor: pointer;}
.messages{
    color: #fff;
    background-color: #d2001a;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
}
.login-button{
    display: flex;
    justify-content: center;
    color: #000 ;
    background-color: #fff;
    border-bottom: solid 3px #d2001a;

}
.login-button a{
    text-decoration: none;
    padding-left: 15px;
    margin-top: 15px;
    color:#d2001a;
}
.regist-button{
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #fff;
    border-bottom: solid 3px #d2001a;

}
.regist-button a{
    text-decoration: none;
    padding-left: 15px;
    margin-top: 15px;
    color:#d2001a;
}
form.work-form{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

/* END> login section*/
.login_inner_auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.login_inner_auth h1{
    font-size: 60px;
    text-align: center;
    color: #fff;
}

#back_home{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d2001a;
    color: #fff;
    font-size: 20px;
    align-self: center;
}