

*{
    font-family: 'Modulus';
    scroll-behavior: smooth;
    outline: none;
}
body{
    background-color: #e8f9fd;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #ccc;
    width: 100%;
    height: 100%;
}
.white{
    color: #fff;
}
.background{
    height: 100vh;
    width: 100%;
}
.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.shadow{
    background-color: rgba(100,100,100,0.5);
}
.content_inner{
    display: block;
    text-align: center;
    /* margin-top: -50px; */
}
h1{
    font-size: 70px;
    color: #000;
    margin: 0px;
    margin-bottom: 100px;
}
.http-code{
    font-size: 200px;
    color: #fff;
}
.oops{
    margin-top: 100px;
    color: #fff;

}
.textbox{
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}
p{
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 23px;
    margin-top: 120px;
    margin-bottom: 50px;
}
p.order-info{
    background-color: transparent;
    text-align: left;
    margin: 15px 0;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #d2001a;
    color:   #fff;
    font-size: 25px;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
    border: none;
}
.logo-home a{
    color: #000;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    font-size: 20px;

}