{% extends 'layouts/base.html' %}
{% block content %}

{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <script defer="defer" src="/static/js/main.00f27044.js"></script>
    <link href="/static/css/main.d3d5e3f0.css" rel="stylesheet">    
    <title>View Orders</title>
</head>
<body>
    <div id="root"><div id="order-cards_container"></div></div> 
            <div class="games-grid">
            <div class="games-grid_inner">
                <div class="games-column_container">
                    <div class="games-column1">
                        
                        <div class="grid-game">
                            <div class="game_inner">
                                <div class="game-background" role="img"
                                    style="background-image: url(&quot;https://store-images.s-microsoft.com/image/apps.56219.13884136572674855.a9f30b88-ff08-4df0-a5cf-288a8fff3a8e.e27bc3c4-e1a4-4e79-9054-3a96fbb4b80d&quot;);">

                                </div>
                                <a href="" class="game_info">
                                    <p class="game-title">Lorem, ipsum dolor.</p>
                                    <p class="game-description">Lorem ipsum dolor sit amet.</p>
                                </a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="games-column_container">
                    <div class="games-column2">
                        
                        <div class="grid-game">
                            <div class="game_inner">
                                <div class="game-background" role="img"
                                    style="background-image: url(&quot;https://store-images.s-microsoft.com/image/apps.30332.63657969076271726.154f5a09-55ab-4b31-bc57-4e0335fab06a.06914e2f-cc14-4a5b-9305-e6a30b1d45c3&quot;);">

                                </div>
                                <a href="" class="game_info">
                                    <p class="game-title">Lorem, ipsum dolor.</p>
                                    <p class="game-description">Lorem ipsum dolor sit amet.</p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>
    
    


</body>
    <link rel="stylesheet" href="{% static 'css/view-orders.css' %}">

</html>
{% endblock %}

